.p-login {
  &__form {
    width: 40rem;
    background-color: $color-tertiary;
    padding: 4.4rem 3.5rem 6rem 3.5rem;

    span {
      font-size: 2.4rem;
    }

    form {
      input {
        border: none;
        background-color: white;
        color: $color-input-text;
        padding: 1.2rem 3rem;

        &:focus {
          outline: none;
          border: none;
        }

        &:first-child {
          margin-bottom: 3rem;
        }
      }

      button {
        background-color: $color-primary;
        color: white;
        font-size: 1.4rem;
        border: none;
        font-size: 1.4rem;
        padding: 1rem 0;
        border-radius: 0.1rem;
        transition: all 0.3s;

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }

  &__register {
    width: 40rem;
    background-color: $color-tertiary;

    &_text {
      margin-left: 3.5rem;

      span {
        font-size: 1.8rem;
        color: $color-dark-text;
      }

      a {
        color: $color-primary;
        font-size: 1.4rem;
      }
    }
  }
}
