.p-trackers {
  padding: 0 13.5rem;

  &__date {
    gap: 1.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 8rem;
  }

  &__buttons {
    margin-bottom: 3.6rem;
  }

  .p-datatable {
    font-size: 1.8rem;

    & .p-datatable-thead > tr > th {
      padding: 3rem 3rem 2rem 3rem;
    }

    td {
      color: $color-dark-text;
      padding: 2.2rem 3rem !important;
    }

    .p-trackers__table_buttons button {
      background-color: transparent;
      outline: none;
      border: none;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  .p-paginator .p-paginator-pages .p-paginator-element {
    font-size: 1.4rem;
    border-radius: 0.4rem;
  }
}
